.button-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(49, 90, 231);
    color: white;
    border-radius: 12px;
    
    font-size: 17px
}